.button {
	@include flex(row, wrap, center, center);

	cursor: pointer;
	border-radius: 3px;
	height: 40px;
	font-size: 14px;
	padding: 8px 30px;
	line-height: 24px;
	color: #fff;
	background: $color-blue;
	transition: all 0.24s ease-out;

	@include desktop-hover {
		background: lighten($color-blue, 10%);
	}
}
